body{
    background-color: rgb(211, 187, 187);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.container{
    border: 1px solid gray;
     color:black ;
    margin: 0 auto;
    width: 600px;
    background-color: honeydew;
}

.cabecera{
    padding: 5px;
    padding-left: 5px;
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 20px 0px black;
}

.image{
    width: 45px;
    padding-right: 8px;
}

.hyperblog{
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
}

.footer{
    background-color: gray;
    color: white;
    text-align: center;
}

.footer p{
    margin: 0;
}