body{
    background-color: rgb(211, 187, 187);
    text-align: left;
    color: purple;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    border: 1px solid gray;
    margin: 0 auto;
    width: 600px;
}

.cabecera{
    padding: 5px;
    padding-left: 5px;
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 20px 0px black;
}

.hyperblog{
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
}