body{
    background-color: rgb(211, 187, 187);
    text-align: left;
    color: purple;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    border: 1px solid gray;
    margin: 0 auto;
    width: 600px;
}